<div class="container text-center mt-5">

  <h1>memory</h1>
  <p class="lead">大切な人を失った人が想いを投稿するコミュニティサイト</p>



  <div class="card mx-auto" style="max-width: 700px;">
    <div class="card-body">
      <h3>このサービスについて</h3>

      <p>
        大切な人との別れを経験した際、気持ちや想いを<br>
        記録・整理するためのサービスです。
      </p>

      <ul class="list-unstyled">
        <li>投稿の公開</li>
        <li>ユーザー交流</li>
        <li>感情の整理</li>
      </ul>
    </div>
  </div>

</div>