<div class="container mt-4">
  <div class="row justify-content-center">
      <div class="col-md-8">
          <p>あなたの投稿一覧</p>
          <% @posts.each do |post| %>
          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-md-10">
                  <h5>
                    <%= link_to post.title, post_path(post) %>
                  </h5>
                  <p>
                    <%= truncate(post.body, length: 200) %>
                  </p>
                  <% if post.image.attached? %>
                    <%= image_tag post.image, size: "250x250", class: "img-fluid" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <div class="col-8">
      <%= image_tag "memorisu.png", class:"character img-fluid rouded-circle" %>
    </div>
  </div>
</div>