/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

body {
  background-image: asset-url("hoge.jpg");
}
.character {
  position:fixed;
  left:20px;
  bottom:20px;
  width:150px;
  z-index:1000;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.character:hover {
  animation: swing 0.6s ease-in-out;
}

@keyframes swing {
  0% {transform: rotate(0deg); }
  25% {transform: rotate(-8deg); }
  50% {transform: rotate(8deg); }
  75% {transform: rotate(-4deg); }
  100% {transform: rotate(0deg); }
}

html,body {
  height:100%;
}

body {
  min-width:100vh;
  display:flex;
  flex-direction:column;
}

main {
  flex: 1;
}

.post-preview {
  display:inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(to right, black 75%, transparent );
  mask-image: linear-gradient(to right, black 75%, transparent );
}

.card-body {
  display: inline-block;
}

.comment-user-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
}